body{
    background: #fab83e;
    font-family: tahoma;
    color: #2b0303;
}

#todo-table{
    position: relative;
    width: 80%;
    background: #e09993;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;

}
#fuck{
    background: #e09993;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
  
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor:progress;
    font-size: 20px;
    
    
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(219, 169, 5, 0.2);
}

h1{
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
.woo-hoo{
    display: inline-block;
    padding: .5rem .8rem;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    width: 10px;
    height: auto;
    position: relative;
    background:#e09993;
}
.woo-hoo:hover{
    background-color:red;
}

